* {
  box-sizing: border-box;
}

body {
  height: 1000px;
}

.Header {
  background: lightgrey;
  position: sticky;
  top: 0;
  height: 75px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.Header--scrolled {
  background: red !important;
}

.Header--scrolledLayout {
  background: blue;
}

main {
  padding: 20px;
}
